:root {
  --yellow: #F5B81F;
  --yellow-dark: #D19600;
  --gray: #2C2C2C;
  --bg: #131313;
  --white: #fff;
  --text-gray: #717171;
  --text-gray-dark: #313131;
  --gray-card: #262626;
  --gray-card-border: #393939;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg)!important;
  color: var(--white); 
  font-family: 'Inter', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-action {
  background-color: var(--yellow);
  border: 2px solid var(--yellow-dark);
  color: var(--gray);
  border-radius: 43px;
  width: 300px;
  height: 35px;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  padding: 0 2rem;
}

section {
  padding: 0 2rem;
}