.bg-dark-custom {
  background-color: #131313;
}

#home {
  background-color: var(--bg) !important;
}

.text-white {
  color: var(--white);
}

#call-action {
  background-color: var(--white)!important;
  min-height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.call-action-title {
  color: var(--text-gray-dark);
  font-size: 3.4rem;
  font-weight: bold;
}

.call-action-subtitle {
  color: var(--text-gray);
  font-size: 23px;
  margin-top: 10px;
  font-weight: normal;
}

.text-gray {
  color: var(--text-gray);
}

#info-01 {
  background-color: var(--bg);
}

#info-02 {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info-03 {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-03-title {
  color: var(--yellow);
  text-align: center;
  margin-bottom: 10px;
  text-align: left;
}

#info-04 {
  background-color: var(--white)!important;
}

.info-04-title {
  color: var(--yellow);
}

.icon-block {
  background: var(--gray-card);
  border: 2.08333px solid var(--gray-card-border);
  box-shadow: 8.33333px 8.33333px 8.33333px rgba(0, 0, 0, 0.25);
  border-radius: 20.4167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 180px;
}

.icon-block h3 {
  color: var(--yellow);
  text-align: left;
}

.icon {
  max-height: 58px;
  max-width: 35px;
}

.home-subtitle {
  color: var(--text-gray);
  font-size: 1.3rem;
}

.btn-block-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

footer {
  background-color: var(--gray-card);
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
}

.bg-gray {
  background-color: var(--gray-card);
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

#testimony {
  height: 250px;
}

#ask {
  height: 250px;
}

.text-network {
  font-size: 18px;
}

#last-call-action {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg);
}

#info-05 {
  background-color: var(--bg);
}

.bg-last-call-action {
  background-image: url('../assets/notebook-icon-logo.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right 50%;
}

.text-yellow {
  color: var(--yellow);
}

.btn-header {
  width: 180px;
  font-size: 12px;
}

.text-footer-description {
  font-size: 18px;
  width: 50%;
}

@media (min-width: 720px) {
  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}

@media (max-width: 720px) {
  .block-home-image {
    width: 50%;
  }

  .block-text-home {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .icon-block {
    height: 180px;
  }

  .bg-last-call-action {
    background-size: 80% 100%;
  }

  .call-action-title {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  .text-network {
    font-size: 16px;
  }  

  .text-footer-description {
    font-size: 16px;
    width: 100%;
  }
}